/* 使用prefer color scheme判断系统是否处于深色模式 */
@media (prefers-color-scheme: dark){
    /* 设置背景 */
    body{
        background-color: #222222;
    }
    h2{
        color: #FFFFFF;
        font-size: 50px;
    }
    h3{
        color:#FFFFFF;
        font-size: 25px;
    }
}
 @media (prefers-color-scheme: light){
    body{
        background-color: #DDDDDD;
    }
    /* 为h1设置样式 */
    h2{
        color: #000000;
        font-size: 50px;
    }
    h3{
        color:#000000;
        font-size: 25px;
    }
}
/* 为h1设置样式 */
h1{
    color: #D64249;
    font-size: 140px;
}
.distance_zh_cn_1{
    margin: 100px 0 0 100px;
}
.distance_zh_cn_2{
    margin: 0 0 0 300px;
}
.distance_zh_cn_3{
    margin: -65px 0 0 500px;
}
.distance_en_us_1{
    margin: 0 0 0 300px;
}
.distance_en_us_2{
    margin: 0px 0 0 300px;
}
.distance_en_us_3{
    margin: -33px 0 0 360px;
}
/* 新建一条竖线，并设置颜色和样式 */
.line{
    width: 4px;
    height: 130px;
    background-color: #D64249;
    margin: -130 0 0 293px;
}
/* 设置时间文本的样式 */
.time_h1{
    margin: -230px 0 0 405px;
}
.time_h3{
    margin: 12px 0 0 339px;
}

/* ICP备案号，将其放置到底部，并居中显示 */
.icp{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
